[package]
name = "{{ .repo_name }}"
version = "0.1.0"
edition = "2024"
description = "{{ .description }}"
authors = ["{{ .author_name }} <{{ .author_email }}>"]
license = "{{ .license }}"

[dependencies]
